.services-box .per-box h3 {
    height: 64px;
}

.services-box .per-box i {
    font-size: 86px;
}

.card-text {
    padding: 0 !important;
}

.hero-about-area {
    background-image: url(/img/banner/inner-banner-1.png) !important;
}
