.services-box .per-box h3 {
    height: 64px;
}

.services-box .per-box i {
    font-size: 86px;
}

.card-text {
    padding: 0 !important;
}

.services-box .per-box h3 {
    font-size: 16px;
}

.hero-about-area {
    background-image: url(/img/hero-back.png) !important;
}

.header1 #main-navigation-wrapper .nav>li>a {
    font-size: 13px;
}

.acctivee::before {
    position: absolute;
    content: "";
    background: #DE2068;
    height: 100%;
    width: 82%;
    z-index: -1;
    height: 170px;
    top: -40px;
    transform: translateY(-50%);
    transform: rotate(18deg);
    left: -11px;
    margin: auto;
    right: 0;
}

.headerButton a {
    font-size: 12px;
}

.header-socials {
    float: right;
    padding-left: 20px;
    padding-top: 0 !important;
}

@media (min-width: 1200px) {
    .navbar-nav {
        float: left;
        margin: 0;
        width: 93%;
    }
}